/*=========== 캘린더 스타일 ==============*/
.rbc-calendar {
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.rbc-month-view {
  background-color: #ffffff;
}

.rbc-day-bg {
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.rbc-day-bg:nth-child(7n) {
  border-right: none;
}

.rbc-off-range-bg {
  background-color: #f0f0f0;
}

.rbc-today {
  background-color:rgb(254 249 195);
}

.rbc-header {
  color: inherit;
}

.rbc-header:first-child {
  color: red;
}

.rbc-header:nth-child(7n) {
  color: blue;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #e6e6e6;
}

/*=========== 공휴일 및 주말 텍스트 스타일 ==============*/
.sunday .rbc-date-cell,
.sunday .rbc-button-link,
.holiday .rbc-date-cell,
.holiday .rbc-button-link {
  color: red;
}

.saturday .rbc-date-cell,
.saturday .rbc-button-link {
  color: blue;
}

.holiday .holiday-text {
  color: red;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  display: block;
  margin-top: 50%; /* 공휴일 텍스트 위치 조정 */
}

.rbc-date-cell-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbc-date-cell {
  text-align: center;
}

.rbc-off-range-bg {
  background-color: #f0f0f0;
}

/*=========== 이벤트 스타일 ==============*/
.rbc-event {
  background-color: rgb(253 224 71); /* 기본 색상 검정색 */
  border: none;
  border-radius: 2px; /* 둥근 모서리 적용 */
  color: black;
  font-size: 0.85em;
  padding: 0px;
  text-align: center;
}

.rbc-event-content {
  text-align: center;
  background-color: rgb(253 224 71); /* 기본 색상 검정색 */
  
}

/*=========== 모달창 스타일 ==============*/
.modal {
  position: fixed;
  right: -100%;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: #fff;
  box-shadow: -1px 0 1px -1px #333;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
  transition: right 0.3s ease-in-out;
}

.modal.open {
  right: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-top: 50px;
}

.modal-content label {
  font-weight: bold;
  margin: 10px 0 5px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #0092ca;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.modal-content p {
  font-size: 16px;
  margin: 5px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px; /* 크기를 키움 */
  cursor: pointer;
  z-index: 10; /* 최상단에 오도록 수정 */
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

.input-title,
.input-content,
.input-date {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.input-content {
  height: 300px; /* 높이를 늘림 */
  resize: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: -150px;
  left: 0;
  padding: 0 20px;
}

.button-delete {
  background-color: rgb(75 85 99);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-delete {
  background-color: rgb(55 65 81);
}

.button-save {
  background-color: rgb(234 179 8);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-save:hover {
  background-color: rgb(202 138 4);
}

/*=========== DatePicker(날짜선택) 스타일 ==============*/
.date-picker-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-picker-item {
  flex: 1;
  margin-right: 10px;
}

.date-picker-item:last-child {
  margin-right: 0;
}

.input-date-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hidden-datepicker {
  width: 100%;
  padding-right: 30px; /* 아이콘 공간 확보 */
}

.calendar-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/*=========== Color Picker 스타일 ==============*/
.color-picker-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-picker-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.color-picker-input {
  display: block;
}

.selected-color {
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

/*=========== 캘린더 헤더 스타일 ==============*/
.custom-calendar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.custom-calendar-header .right-controls {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.custom-calendar-header .left-controls {
  display: flex;
  align-items: center;
}

.custom-calendar-header .view-button {
  background-color: rgb(202 138 4);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: background-color 0.3s ease;
}

.custom-calendar-header .view-button:hover {
  background-color: rgb(161 98 7);
}
.custom-calendar-header .view-button:active {
  background-color: rgb(115, 70, 6);
}

.custom-calendar-header .nav-button {
  background-color: rgb(202 138 4);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}
.custom-calendar-header .nav-button:hover {
  background-color: rgb(161 98 7);
}

.custom-calendar-header .today-button {
  background-color: rgb(254 249 195);
  color: black;
  font-weight: bold;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0.8em;
  margin-right: 10px;
}
.custom-calendar-header .today-button:hover {
  background-color: rgb(250 204 21);
  color: black;
}

.custom-calendar-header .label {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes fadeOut {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}
