
/* 주말 색상변경 ->? */
.fc-day-sun a {
    color: rgb(189, 1, 1);
}
.fc-day-sat a {
    color: rgb(0, 0, 200);
}

/* 일정사이 간격  */
.fc-event {
    margin-bottom: 3px;
  }

/* 일정에 마우스 올렸을때 */
#tooltip {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    display: none;
    pointer-events: none;
  }
