.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(255, 255, 255,0);
    color: rgb(179, 179, 179);
    text-align: center;
    padding: 5px;
    border-radius: 4px;

    /* 아래에 위치하게 */
    bottom: -110%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1000;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .tooltip:hover::after {
    opacity: 0.8;
    visibility: visible;
  }
  