/* .slick-track {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */


 /* .slider-container {
    display: flex;
    justify-content: start;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
  }
   */